<html>
    <head>
        <title></title>
        
        <script type="text/javascript">
            $(document).ready(function() {
                $(".jobtable > tbody > tr:nth-child(even)").addClass("even");
                $(".jobtable > tbody > tr:nth-child(odd)").addClass("odd");
            });
        </script>
       <%= image_tag"logo/header.png", style: 'height:auto;width:100%;' %> 

    </head>
    <body>
        <div id="wrap">
            
            <div id="header">
                 
                


                <h1>Ruby&JavaScript Job Postings</h1>
            </div>
            <div id="loginbanner">
               Поиск работы для тех, кто знает Ruby и JavaScript. Объявления публикуются на английском и русском языке.                   
            </div>
            


           




            <div id="content">
                <fieldset>
                    <legend>Full-Time Work</legend>


                <p><strong> Description </strong>  

                    NovuHealth is NOT offering sponsorship. We are looking for both local Greater Minneapolis/Saint Paul developers and US based, remote developers.

About us: 
NovuHealth is the health care industry’s leading consumer engagement company. Combining performance analytics, behavior science and comprehensive technology solutions, our rewards and engagement programs enable health plans to increase high-value member activities – improving member health and driving plan performance.

Learn more about our award winning culture here: https://www.novu.com/corporate/careers-culture/

Why we need you:

Within our cross functional agile development team, you will own analysis, programming in full stack of technologies, design, and build & deployment
Actively participate in daily stand ups, code & design reviews, product demos and contribute extensively in smooth functioning and performance growth of the team
Work closely with Product Owners, Architects, and Scrum Master on solution design approaches, backlog refinement, prioritization, client demos, and release planning
Write well designed, testable, scalable, reactive, high quality code and ensure designs are compliant with specifications, standards and best practices
You enjoy working with colleagues you can rely on and learn from, and you bring a lot to the table yourself
You are willing to leave your ego at the door and are open to learning from those around you, but you are also comfortable vigorously debating the right approach to solving problems
You value an engineering culture rooted in collaboration, humility, trust, responsibility, and learning
You stay up to speed on new technologies and introduce them to your teammates
You are an excellent communicator and collaborator, especially with non-technical coworkers
Our ideal candidate:   
At NovuHealth, we know that unicorns don’t exist, but Rhinos sure do! We’re not looking for the impossible, just the exceptional. If you meet any combination of the listed skills below, we would love to hear from you.

Demonstrated strong sense of ownership, urgency, drive, and willingness to work in a late stage startup environment with tight schedules and frequent priority changes
Proficient in Ruby, Rails, Javascript, React/Redux, SQL
5+ years of professional programming experience
Enjoys immutable data structures and pure functions (JS)
Very comfortable with Git and GitHub
Proficient in PostgreSQL (e.g., understanding of stored procedures, triggers, CTE)
Enjoys the idea of deploying their own code on their first day of work
Passionate about user experience, whether that means going the extra mile to deliver a simple yet powerful UI or an API which even the most novice developer could master
Writes unit tests but are flexible with regard to testing frameworks and code coverage
What We're Offering:

Highly competitive salary
100% Employer-covered health and dental insurance premiums
401K with no cap on employer match
Yearly funds for training and conferences
A goal of keeping meetings to a minimum
A focus on quality
Fun and collaborative work environment
                     
                         
                         
                            
                        </tbody>
                    </table>
                </fieldset>
                 








                <br>
<div id="content">
                <fieldset>
                    <legend>Remote Work</legend>


                <p><strong> Summary </strong>  <br>


                     
An online dating platform needs applicants for an opening for a Remote Ruby on Rails Developer in Berkeley. Candidates will be responsible ... <br>

Description
An online dating platform needs applicants for an opening for a Remote Ruby on Rails Developer in Berkeley.

Candidates will be responsible for the following: 
Making quality products that users love as well as writing quality code that is easy to read and maintain
Helping us in modernizing one or two legacy areas of the codebase
Using some Ruby on the frontend as well via the Opal transpiler <br>
Required Skills:

Bread and butter has been Ruby/Rails programming
Candidate with experience in: Ruby on Rails JavaScript/jQuery
Third-party API integrations (particularly Facebook oAuth)
Basic Linux VPS maintenance (DigitalOcean, etc.)
Sidekiq/Background workers
All other requirements necessary for this position

 
                     
                         
                         
                            
                        </tbody>
                    </table>
                </fieldset>
                 



                    
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </div>
    </body>
</html>